body {
  font-family: 'Roboto', sans-serif;
}

.events {
  display: flex;
  flex-wrap: wrap; /* Permite trecerea pe linia următoare */
  justify-content: flex-start; /* Așează cardurile la începutul rândului */
  gap: 5px; /* Spațierea dorită între carduri */
}
.event-card {
  flex: 0 0 calc(30% - 5px); 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}



.event-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aici centrăm vertical */
  justify-content: center; /* Aici centrăm orizontal */
  text-align: center; /* Centrăm textul orizontal */
}

.event img {
  height: 150px;
}

.event-img {
  width: 20%;
  height: auto;
  border-radius: 0.25rem;
  object-fit: cover;
  margin-bottom: 1rem; 
}

.btn {
  display: block;
  width: 70px;
  padding: 10px;
  background-color: #183519;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #030703;
}

.btn-quantity{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ticket-quantity-input{
  text-align: center;
}

#ticketType {
  width: 100%;
}

.ticket-quantity-input{
  width: 80px;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.link-item {
  color: #1e2db1
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #de411b;
}

.add-to-cart-btn {
  background: #de411b;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
}

.content {
  /* Restul stilurilor pentru conținut */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  width: 300px;
  height: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 20px;
}

/* for orders page */

.purchases{
  max-width: 100%; /* Asigură că conținutul nu depășește lățimea paginii */
  margin: 0 auto; 
}
#purchases-content {
  max-width: 100%; /* Asigură că conținutul nu depășește lățimea paginii */
  margin: 0 auto; /* Afișează conținutul centralizat pe pagină */
}

.table-content{
  width: 100%;
  background-color: #de411b;
  border-collapse: collapse;
}

th,
 td {
  padding: 10px;
  border: 1px solid #ccc;
  width: 18%; /* Schimbați acest procentual pentru a ajusta dimensiunea celulelor */
  text-align: center; /* Alinează conținutul celulelor în centru */
}


.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Stilizează pictograma */


.btn-delete{
  color: #df722a;
  margin:5px;
}

.btn-modify{
  padding: 15px;
  margin:5px;
}

.btn-cancel{
 
  margin:5px;
  color: #df722a;
}

.btn-save{
  
  margin:5px;
}

.hide {
  display: none;
}

/* ---search bar  */
#nothing-alert{
  display:none;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.search-container{
  position:relative;
  z-index: 1;
  left: 20px;
  font-size: 16px;
  color:#707070;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#search-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-left: 50px;
  background-color: transparent;
  margin-right: 6px;
}

.event-image{
  width: 280px;
  height: 150px;
  margin-bottom: 15px;
  
}



#results {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#results li {
  margin: 5px 0;
}

/* ----sorting orders dropdown */
.dropdown-sorting-orders{
  position: relative;
  display: inline-block;
}

.sort-label {
  display: inline-block;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

.sort-toggle {
  display: none;
}

.dropdown-content-sorting-orders{
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-option-orders{
  padding: 10px;
  cursor: pointer;
}

.dropdown-option-orders:hover{
  background-color: #f1f1f1;
}

/* popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajustează transparența după preferințe */
  z-index: 998; /* Sub popup */
  display: none; /* Inițial ascuns */
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Peste overlay */
  display: none; /* Inițial ascuns */
}

.custom-popup {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.custom-popup p {
  margin: 0 0 10px;
}

.custom-popup button {
  margin-right: 10px;
}